/* *,
:after,
:before {
  box-sizing: border-box;
  margin: 0%;
  font-family: Gezneva, Tahoma, sans-serif;
} */
/* body {
  background-color: antiquewhite;
} */
.nav-list {
  background-color: indianred;
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: center;
  box-shadow: var(--shadow-nav, 2px 4px 8px 0 rgb(46 61 73 / 20%));
  margin-bottom: 1rem;
}
.nav-link {
  align-self: center;
  color: white;
  text-decoration-line: none;
  padding: 12px;
  font-size: medium;
  border-radius: 0.375rem;
  margin: 0 0.7rem;
  transition: background-color 0.15s ease-in-out, color 0.3s 0.01s ease-in-out,
    font-size 0.2s ease-in-out;
}
/* .nav-list-active {
  color: red;
  transform: scale(1.1);
} */
.nav-link:hover {
  transform: scale(1.1);
  font-size: 1.2rem;
  /* font-stretch: expanded; */
  color: indianred;
  background-color: rgba(250, 240, 230, 0.743);
}
.logout {
  position: right;
}
