/* *,
:after,
:before {
  box-sizing: border-box;
  margin: 0%;
  font-family: Gezneva, Tahoma, sans-serif;
} */
/* body {
  background-color: antiquewhite;
} */
.nav-list {
  background-color: indianred;
  height: 6rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-weight: 600;
  /* flex-grow: 1; */
  flex-shrink: 1;
  align-items: center;
}
.nav-link {
  align-self: center;
  color: white;
  text-decoration-line: none;
  padding: 1rem;
  font-size: medium;
}
.nav-list-active {
  color: red;
  font-size: 1.2rem;
}
.nav-link:hover {
  font-size: 1.2rem;
  font-stretch: expanded;
  color: blanchedalmond;
}
.logout {
  position: right;
}
